<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body style=" background-color: lightcyan;">
    <p>
    <img src = "/static/imgs/painting3.jpg" width="400px" height="800px" >
    <h3>The Mona Lisa is one of the most valuable paintings in the world.</h3>
    <h3>year : 1503-1506</h3>
    <h3>Artist : Leonardo da Vinci</h3>
    <h1>price : US$970 million</h1>
    </p>
    <p>
        <img src="/static/imgs/painting2.jpeg" width="400px" height="400px">
         <h3>The Card Players is a series of oil paintings</h3>
         <h3>year : 1894–95</h3>
         <h3>Artist : Paul Cézanne</h3>
         <h1>price : $250 million</h1>
    </p>
    <p>
         <img src="/static/imgs/painting1.jpg" width="400px" height="400px">
         <h3> the Convergence</h3>
         <h3>year : 1952</h3>
         <h3>Artist : Jackson Pollock</h3>
         <h1>price : $300 million</h1>
    </p>
    <p><a href="/"> to the home page click here </a></p>
</body>
</html>
